* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}
body {
    background-color: rgb(31 41 55);
}
header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-size: 40px;
}
main {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    row-gap: 12px;
    column-gap: 12px;
    padding: 12px;
}
.card-icon {
    width: 30px;
    height: 30px;
}
.card-plus-icon {
    width: 200px;
    height: 200px;
}
.card {
    width: 300px;
    height: 300px;
    display: flex;
}
.card-todo {
    background-color: chocolate;
    justify-content: space-between;
    flex-direction: column;
}
.card-todo-icons { 
    display: flex;
    flex-direction: row-reverse;
    gap: 5px    
}
.card-todo-name-wrapper {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
}
.card-todo-name {
    height: 24px;
    font-weight: bolder;
}
.card-plus {
    border: 1px solid #faebd7;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.button-status {
    padding: 5px;
    font-size: 30px;
    text-align: center;
}
.button{
    cursor: pointer;
}
.status-not-started {
    background-color: maroon;
}
.status-in-progress {
    background-color: orange;
}
.status-completed {
    background-color: darkolivegreen;
}
.auth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
}
.auth-buttons-wrapper {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.auth-button {
    background-color: darkslateblue;
    padding: 5px;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.hidden {
    display: none !important;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    padding: 10px;
    gap: 10px;
}
.signup-form {
    background-color: crimson;
}
.signin-form {
    background-color: forestgreen;
}
input {
    all: unset;
}
.input {
    width: 100%;
    box-sizing:border-box;
    padding: 10px;
    background-color: rgba(47, 79, 79, 0.3);
}
.submit-button {
    font-size: 24px;
    width: fit-content;
    padding: 5px;
    background-color: rgba(47, 79, 79);
}